.cookie-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; // masqué par défaut
  align-items: center;
  justify-content: center;
  z-index: 1001;

  &.visible {
    display: flex;
  }

  .cookie-modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
    text-align: left;

    h2 {
      margin-top: 0;
    }

    .modal-actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      margin-top: 1.5rem;

      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &#savePreferences {
          background: $Color4;
          color: white;
        }

        &#closeModal {
          background: #ccc;
          color: #333;
        }
      }
    }
  }
}
